doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Heartlys - Place Your Company Name Here
    link(href='css/stylesheet.css', rel='stylesheet', type='text/css')
  body
    #top_bar_black
      #logo_container
        #logo_image  
        #nav_block
          a.nav_button(href='home') Главная
          a.nav_button(href='order')  Заказать билет
          a.nav_button(href='schedule')  Расписание спектаклей
          a.nav_button(href='gallery')  Галлерея
          a.nav_button(href='contacts')  Контакты
    #content_container
      block content
    #bottom_bar_black
      #main_container
        #header_lower
          #header_content_lowerline
            | Contact
            #header_content_lowerboxcontent
              | 148 Blackways Street
              br
              | 	      Hargary
              br
              | 	      Lingvillage
              br
              |         HG43 9HA 
              br
              |         info@domainhappy.com
              br
              |         www.domainhappy.com
              br
              |         01982 698 621
              br
        #header_lower
          #header_content_lowerline
            | Clients
            #header_content_lowerboxcontent
              | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    #copywriteblock
      | Designed by 
      a(href='http://www.pixelateddesign.co.uk/') www.pixelateddesign.co.uk 

