extends layout

block content
      #header
        .header_content_mainline= text.name   
        #header_content_tagline
          | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
      #header_lower
        #header_content_boxline
          |!{text.body}